extends layout

block content
    h1 Life of Pi's

    each pi in pis
        div.floated_img
            img(src='/images/pi_top_small.png')
            p.center_text #{pi.name} (#{pi.isMaster ? "master" : "slave"})
            p.center_text [&nbsp;
                a(href='reset/#{pi.gpio}')= 'reincarnate'
                if !pi.isMaster
                    | &nbsp;|&nbsp;
                    a(href='poweroff/#{pi.gpio}')= 'smite'
                |&nbsp;]
