extends layout

block content
    h1 Power off Pi "#{pi.name}"
    p Are you sure you want to power off Pi "#{pi.name}?"
    form(method='POST')
        input(type='submit' class='yes' value='Yes')
        input(type='button' class='no' onclick='javascript:history.back();' value='No')
